
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import '../../node_modules/trumbowyg/dist/ui/sass/trumbowyg.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

////////////////////// APP HEADER /////////////////////
.app-header{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(117,171,189);
  // border-bottom: 1px solid rgb(231,232,200);

  a{
    text-decoration: none;
    color: white;
  }
}

.recipients-header-link{
 text-align: center;
}

.fullscope{
  text-align: center;
  font-size: 30px;
}

.account-links{
  text-align: center;
  padding-right: 0;
}

.login-header-link{
  // margin-right: 15px;
}



///////////////////////// SIGNUP /////////////////////////



///////////////////////// LOGIN /////////////////////////



/////////////////////// DASHBOARD ///////////////////////
.identity{
  text-align: center;
  // border-bottom: 1px solid rgb(231,232,200);
  margin: 0 auto;
  height: 225px;
  font-size: 20px;
  padding-top: 100px;
  background-color: rgb(69,203,120);
  color: white;
}

.methods{
  text-align: center;
  // border-bottom: 1px solid rgb(231,232,200);
  margin: 0 auto;
  height: 225px;
  font-size: 20px;
  padding-top: 100px;
  background-color: rgb(52,122,140);
  color: white;
}

.families{
  text-align: center;
  margin: 0 auto;
  height: 225px;
  font-size: 20px;
  padding-top: 100px;
  background-color: rgb(194,46,80);
  color: white;
}


///////////////////////////// RECIPIENT FORM////////////////////////////////////
.recipient-form-container{
  margin-top: 50px;
}

.recipient-card{
  border: 2px solid rgb(188,189,164);
  height: 200px;
}

.recipient-family-name,
.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-city,
.recipient-state,
.recipient-website{
  border-radius: 4px;
  border: 1px solid rgb(188,189,164);
  padding: 2px 2px 2px 4px;
  font-size: 12px;
}

.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-city,
.recipient-state,
.recipient-website{
  margin-top: 3px;
}

.recipient-family-name{
  margin-top: 8px;
}

.recipient-family-name,
.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-website{
  width: 100%;
}

.recipient-city{
  width: 60%;
}

.recipient-state{
  width: 35%;
  margin-left: 5%;
}

.recipient-city,
.recipient-state{
  display: inline;
}

.trumbowyg-box{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid rgb(188,189,164);
  // border-right: 2px solid rgb(188,189,164);
}

.recipient-needs-form{
  border: 2px solid rgb(188,189,164);
  padding: 10px;
}

.share-needs{
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 15px;
}

.list-of-needs{
  display: inline-block;
  list-style: none;
}

////////////////// PROFILE SETTINGS USED FOR BOTH USER FORMS ///////////////////
.profile-pic,
.contact-details{
  display: inline-block;
}

.profile-pic{
  height: 197px;
  border-right: 2px solid rgb(188,189,164);
  background-color: rgba(53,175,199, 0.8);

  .profile-image-upload-plus-icon{
    margin-top: 65px;
    margin-left: 24%;
    width: 70px;
  }

  .profile-image-upload-camera{
    width: 20px;
  }
}

.create-button-container{
  margin-top: 15px;
}

.user-profile-create-button{
  width: 100%;
  border-radius: 6px;
  border: 0;
  background-color: rgba(53,175,199, 0.8);
  color: black;
  font-size: 20px;
}

///////////////////////////// SUPPORTER FORM////////////////////////////////////
.supporter-card{
  margin-top: 200px;
  border: 2px solid rgb(188,189,164);
  height: 200px;
}

.company-name,
.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgb(188,189,164);
  padding: 2px;
}

.company-name,
.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  border: 1px solid rgb(188,189,164);
  padding-left: 4px;
}

.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  margin-top: 5px;
}

.company-name{
  margin-top: 16px;
}

.supporter-create-button{
  border: 0;
  background-color: rgba(53,175,199, 0.8);
  color: black;
  font-size: 20px;
}
