
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

////////////////////// ACCOUNT HEADER /////////////////////
.account-header{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(231,232,200);
}


///////////////////////// SIGNUP /////////////////////////



///////////////////////// LOGIN /////////////////////////



/////////////////////// DASHBOARD ///////////////////////
