
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import '../../node_modules/trumbowyg/dist/ui/sass/trumbowyg.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


//font-family: 'Play', sans-serif;
//font-family: 'EB Garamond', serif;


/////////////////////////////// APP HEADER /////////////////////////////////////
.app-header{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(59,89,152);
}

.fullscope{
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  font-weight: bold;
  a{
    color: rgb(255,255,255);
    text-decoration: none;
  }
}

.account-links{
  text-align: center;
  padding-right: 0;
  padding-top: 12px;

  i{
    color: rgb(255,255,255);
  }

  .fontawesome-navbars{
    font-size: 30px;
  }
}

.dropdown-menu{
  margin-top: 10px;
  left: -50px;
  background-color: rgb(255,255,255);

  .menu{
    font-size: 18px;
    a{
      color: rgb(96,96,96);
      font-family: 'EB Garamond', serif;
    }
  }
}


/////////////////////////////// DASHBOARD //////////////////////////////////////
.hello{
  background-image: url('../images/helping-hands.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.purpose{
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  background-color: rgba(96,96,96,0.3);
  color: rgb(255,255,255);

  .purpose-title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'EB Garamond', serif;
  }

  .why-we-exist{
    font-family: 'EB Garamond', serif;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;

    .emphasis{
      font-style: italic;
    }
  }
}

.ways-to-get-involved{
  background-color: rgba(176,176,176,0.5);
  color: rgb(255,255,255);

  .ideas-title{
    margin-top: 0;
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-top: 50px;
  }

  .ideas{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 35px;
  }
}

.financial-burden{
  padding-bottom: 50px;
}

.families{
  color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.5);

  .families-title{
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
  }
}

.mini-profile-card-list-container{
  padding: 0;

  .mini-profile-card-list{
    padding-left: 0;
    list-style: none;

    .mini-profile-cards{
      padding-bottom: 50px;

      .miniFamilyName{
        margin-top: 5px;
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
    }
  }
}


//////////////////////////////// SIGNUP & LOGIN /////////////////////////////////
.signup-background{
  background-image: url('../images/cancer-family.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.signup,
.login{
  border: 1px solid rgb(188,189,164);
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px 30px 30px 30px;
  background-color: rgba(255,255,255,0.5);

  .signup-title{
    font-family: 'Play', sans-serif;
    font-size: 35px;
    margin-bottom: 5px;
    color: black;
  }
}

*::-webkit-input-placeholder{
  color: rgb(108,105,98);
  font-family: 'Play', sans-serif;
}
*:-moz-placeholder{
  color: rgb(108,105,98);
  font-family: 'Play', sans-serif;
}
*::-moz-placeholder{
  color: rgb(108,105,98);
  font-family: 'Play', sans-serif;
}
*:-ms-input-placeholder{
  color: rgb(108,105,98);
  font-family: 'Play', sans-serif;
}

.firstname,
.lastname,
.username-is-email,
.user-password{
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(255,255,255);
  margin-bottom: 7px;
  padding: 7px 2px 7px 7px;
  background-color: rgba(255,255,255,0.5);
  font-family: 'Play', sans-serif;
  color: rgb(108,105,98);
}

.user-choices{
  margin-bottom: 15px;
  font-family: 'Play', sans-serif;
}

.patientFamily-radio-signup{
  margin-right: 30px;
}

.user-login-submit{
  margin-bottom: 30px;
}

.submit-signup,
.submit-login{
  width: 100%;
  padding-top: 7px;
  font-size: 15px;
  font-family: 'Play', sans-serif;
  padding-bottom: 7px;
  border-radius: 5px;
  border: 1px solid rgb(255,255,255);
  margin-bottom: 25px;
  color: rgb(255,255,255);
  background-color: rgba(75,69,54,0.5);
}

.line{
  display: inline-block;
  border-bottom: 2px solid rgb(255,255,255);
  margin-bottom: 4px;
  width: 44.5%;
}

.or{
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-family: 'Play', sans-serif;
}

.login-via-facebook-button{
  margin-top: 25px;
  margin-bottom: 35px;
  width: 100%;
  padding-top: 7px;
  font-size: 15px;
  font-family: 'Play', sans-serif;
  padding-bottom: 7px;
  border-radius: 5px;
  border: 1px solid rgb(255,255,255);
  background-color: rgba(59,89,152,0.7);
  color: white;
}

.facebook-button-text{
  margin-left: 10px;
}

.login-instead,
.signup-instead{
  border-top: 2px solid rgb(255,255,255);
  padding-top: 30px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 15px;
  color: black;

  a{
    text-decoration: none;
    color: rgb(59,89,152);
    font-weight: bold;
  }
}

///////////////////////////// PATIENT FAMILY FORM///////////////////////////////
.recipient-form-container{
  margin-top: 50px;
}

.recipient-card{
  border: 2px solid rgb(188,189,164);
  height: 200px;
}

.recipient-family-name,
.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-city,
.recipient-state,
.recipient-website{
  border-radius: 4px;
  border: 1px solid rgb(188,189,164);
  padding: 2px 2px 2px 4px;
  font-size: 12px;
}

.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-city,
.recipient-state,
.recipient-website{
  margin-top: 3px;
}

.recipient-family-name{
  margin-top: 8px;
}

.recipient-family-name,
.recipient-contact-name,
.patient-name,
.hospital-name,
.cancer-type,
.recipient-website{
  width: 100%;
}

.recipient-city{
  width: 60%;
}

.recipient-state{
  width: 35%;
  margin-left: 5%;
}

.recipient-city,
.recipient-state{
  display: inline;
}

.trumbowyg-box{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid rgb(188,189,164);
}

.recipient-needs-form{
  border: 2px solid rgb(188,189,164);
  padding: 10px;
}

.share-needs{
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 15px;
}

.list-of-needs{
  display: inline-block;
  list-style: none;
}

////////////////// PROFILE SETTINGS USED FOR BOTH USER FORMS ///////////////////
.profile-pic,
.contact-details{
  display: inline-block;
}

.profile-pic{
  height: 197px;
  border-right: 2px solid rgb(188,189,164);
  background-color: rgba(53,175,199, 0.8);

  .profile-image-upload-plus-icon{
    margin-top: 65px;
    margin-left: 24%;
    width: 70px;
  }

  .profile-image-upload-camera{
    width: 20px;
  }
}

.create-button-container{
  margin-top: 15px;
}

.user-profile-create-button{
  width: 100%;
  border-radius: 6px;
  border: 0;
  background-color: rgba(53,175,199, 0.8);
  color: black;
  font-size: 20px;
}

///////////////////////////// SUPPORTER FORM////////////////////////////////////
.supporter-card{
  margin-top: 200px;
  border: 2px solid rgb(188,189,164);
  height: 200px;
}

.company-name,
.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgb(188,189,164);
  padding: 2px;
}

.company-name,
.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  border: 1px solid rgb(188,189,164);
  padding-left: 4px;
}

.family-name,
.supporter-name,
.supporter-website,
.blurb-input{
  margin-top: 5px;
}

.company-name{
  margin-top: 16px;
}

.supporter-create-button{
  border: 0;
  background-color: rgba(53,175,199, 0.8);
  color: black;
  font-size: 20px;
}


////////////////// SUPPORTER LISTING & PATIENT FAMILY LISTING //////////////////
.patientFamily-list-background{
  background-color: rgb(247,245,242);
}

.patient-family-list,
.supporter-list{
  margin-top: 50px;
  list-style: none;
}

.patientfamily-profile-card,
.supporter-profile-card{
  border: 2px solid rgb(188,189,164);
  padding: 0;
  margin-bottom: 15px;
  background-color: white;
}

.patient-family-pic,
.supporter-pic{
  border-right: 2px solid rgb(188,189,164);
  padding: 0;
  // width: 100%;
}

.familyName-detail,
.supporterName-detail{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'EB Garamond', serif;
}

.contact-details{
  padding-right: 15px;
  font-family: 'Play', sans-serif;
}

.patientFamily-url{
  a{
    text-decoration: none;
    color: rgb(59,89,152);
  }
}

.supporter-url{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  a{
    text-decoration: none;
    color: rgb(59,89,152);
  }
}

.detail{
  padding-top: 25px;
}


////////////////////// SUPPORTER & PATIENT FAMILY PROFILE //////////////////////
.supporter-profile{
  margin-top: 150px;
}

.supporter-title-and-name{
  padding-top: 15px;
}

.supporter-detail{
  margin-top: 20px;
}

.supporter-remaining-details{
  padding-bottom: 15px;
}
